@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/dis.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 150px;
    
}
#author{
    
    position: absolute;
   
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    bottom: 160px;
    right: 35px;
}
#scoreBox{
    position: absolute;
    top: 9px;
    left: 25px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    left: 25px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: rgb(226, 97, 74);
    margin-top: 5px;
    margin-bottom: 50px;
    padding: 20px;
    width: 110vmin;
    height: 90vmin;
    right: 30px;
    opacity: 0.8;
    top: 9px;
    border: 10px solid black;
    display: grid;
    grid-template-rows: repeat(20, 3fr);
    grid-template-columns: repeat(20, 3fr);
}

.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 5px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
    opacity: 10;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
    opacity: 10;
}

.food{
    background: linear-gradient(rgb(17, 16, 16), purple);
    border: .25vmin solid rgb(243, 237, 237);
    border-radius: 20px;
}
